@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    color: #130F2b;
    text-align: center;
    font-size: 5vw;
    background-color: #EEDCD3;
}

body {
    padding: 1.5vw;
    background-color: #EEDCD3;
}

/* body {
    background-image: url('../images/pattern.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 10%;
    backdrop-filter: blur(3px);
} */

h1 {
    font-size: 1rem;
}

h2 {
    font-size: 0.6rem;
}

a, p {
    color: #130F2b;
    font-size: 0.65rem;
    margin: 0;
}

a.special {
    font-size: 0.5rem;
}

a:hover {
    color: #130F2b;
}

.table td, .table th {
    padding: 0.15rem;
}

.tooltip> .tooltip-inner {
    color: #EEDCD3;
    font-size: 24px;
}