@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    background-color: #EEDCD3;
    font-family: 'Montserrat', sans-serif;
    color: #130F2b;
    text-align: center;
}

a {
    color: #130F2b;
    font-size: 24px;
};